#add{
    border-radius: 50%;
}
.form-group {
    display: flex;
}    
.form-group .btn-search{
    margin-right: auto;
}
.form-group p{
    margin: 0!important;
    color:#46939f;
}
.btn-add p:hover {
   color: #0069d9;
}
#footer{
  margin: 0;
  height: 100px;
  align-items: center;
}
.btn-block+.btn-block {
  margin-top: 0!important;
}